
@{
    Layout = null;
}

<table>
    <h4>THONG TIN THANH VIEN DA DANG KY</h4>
    <img src=@ViewBag.Avatar width="100" ; height="100" ; style="float:left; margin:0 10"></img>
    Ma  nhan vien: @ViewBag.EmpID
    <br />
    Ho ten: @ViewBag.Name
    <br />
    Ngay sinh: @ViewBag.BirthOfDate
    <br />
    Email: @ViewBag.Email
    <br />
    Mat khau: @ViewBag.Password
    <br />
    Phong ban: @ViewBag.Department
    <br />
</table>
<div style="margin-left:50px"><a href="/NhanVien_61133801/Index">Quay lai</a></div>
